<div *ngIf="contentData">
    <!-- Hiển thị tiêu đề của bản tin -->
    <p text-wrap [innerHtml]="contentData | linkify"></p>

    <!-- Hiển thị nội dung bản tin -->
    <div *ngIf="(contentData | linkify:'urlInfos')?.length>0">
        <div *ngFor="let urlInfo of contentData | linkify:'urlInfos'; let idx = index;">
            <div *ngIf="idx===0">
                <ion-row no-padding>
                    <ion-col no-padding col-12>
                        <strong *ngIf="urlInfo.hostname">
                            {{urlInfo.hostname}}
                        </strong>
                        <p text-wrap>
                            <strong *ngIf="urlInfo.title">
                                {{urlInfo.title}}
                            </strong>
                        </p>
                        <p text-wrap
                            [innerHtml]="(urlInfo.content | newline | slice:0:(!urlInfo.is_readmore?maxCharacter:urlInfo.is_readmore)) + ((urlInfo.content | newline)?.length>(!urlInfo.is_readmore?maxCharacter:urlInfo.is_readmore)?'•••':'')">
                        </p>
                        <div
                            *ngIf="(urlInfo.content | newline)?.length>(!urlInfo.is_readmore?maxCharacter:urlInfo.is_readmore)">
                            <ion-note style="color: rgb(36, 93, 250)" tappable (click)="readMore(urlInfo)">đọc thêm
                            </ion-note>
                        </div>
                    </ion-col>
                    <ion-col no-padding col-12 *ngIf="urlInfo.images && urlInfo.images.length>0"
                        class="background-height">
                        <image-card [imageData]="urlInfo.images" (onClickSub)="onClickMedia($event)"></image-card>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>

    <!-- Hiển thị các link cho nút bấm inappBrowser sử dụng trong app trên ios và android -->
    <ion-buttons *ngIf="(contentData | linkify:'links')?.length>0">
        <button *ngFor="let url of contentData | linkify:'links'; let idx = index;" ion-button round outline
            (click)="onClickItem(url)">
            Xem link {{(idx + 1)}}
        </button>
    </ion-buttons>

</div>